<div class="shadow-bottom container flex justify-center">
  <div id="nav" class="flex align-center justify-between container-center">
    <div class="flex align-center">
      <div class="menu-item title1"><img src="assets/logo.jpg" alt="Logo de Marvel"></div>
      <div class="menu-item title1">Personajes</div>
      <div class="menu-item title1">Comics</div>
      <div class="menu-item title1">Eventos</div>
      <div class="menu-item title1">Series</div>
    </div>
    <div>
      <p class="title1">Sígueme en <i class="bi-linkedin" role="img" aria-label="Linkedin"></i></p>
    </div>
  </div>
</div>
