@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import '~bootstrap-icons/font/bootstrap-icons';

* {
  box-sizing: border-box;
  font-family: 'Roboto Condensed';
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
}

.flex {
  display: flex;
}

.justify {
  &-center {
    justify-content: center;
  }

  &-between {
    justify-content: space-between;
  }

  &-around {
    justify-content: space-around;
  }
}

.align {
  &-center {
    align-items: center;
  }

  &-top {
    align-items: flex-start;
  }

  &-bottom {
    align-items: flex-end;
  }
}

.container {
  width: 100vw;
}

.container-center {
  width: 80vw;
}

.shadow-bottom {
    -webkit-box-shadow: 0px 0px 24px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 24px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 24px -4px rgba(0,0,0,0.75);
}

.title1{
    font-size: 18px;
    font-weight: 700;
    color: rgb(41, 41, 41);
}
