.flex{
    display: flex;
}

.justify{
    &-center {
        justify-content: center;
    }
    &-between {
        justify-content: space-between;
    }
    &-around {
        justify-content: space-around;
    }
}

.align{
    &-center{
        align-items: center;
    }
    &-top{
        align-items: flex-start;
    }
    &-bottom{
        align-items: flex-end;
    }
}

.container{
    width:  100%;
}